<header class="main-header header-color">
    <div class="container">
        <div class="wrap-header">
            <div class="search-cart hidden-sm hidden-xs">
                <div class="header_login">
                    <a href="/account" title="" class="awemenu-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <ul class="header_login_content unstyled">
                        <li><a href="/account/login">Đăng nhập</a></li>
                        <li><a href="/account/register">Đăng ký</a></li>
                    </ul>
                </div>
                <div class="cart-wrapp  box-carts">
                    <div class="cart-info">
                        <a class="cart-link" href="/cart">
                            <i class="fa fa-shopping-cart fa-lg"></i>
                            <span class="cart-number">0</span>
                        </a>
                        <div class="cart-view clearfix" style="display: none;">
                            <table id="clone-item-cart" class="table-clone-cart">
                                <tr class="item_2 hidden">
                                    <td class="img"><a href="" title=""><img src="" alt="" /></a></td>
                                    <td>
                                        <a class="pro-title-view" href="" title=""></a>
                                        <span class="pro-quantity-view"></span>
                                        <span class="pro-price-view"></span>
                                    </td>
                                </tr>
                            </table>
                            <table id="cart-view">
                                <tr>
                                    <td>Hiện chưa có sản phẩm</td>
                                </tr>
                            </table>
                            <span class="line"></span>
                            <table class="table-total">
                                <tr>
                                    <td align="left">TỔNG TIỀN:</td>
                                    <td align="right" id="total-view-cart">0</td>
                                </tr>
                                <tr>
                                    <td><a href="/cart" class="linktocart">Xem giỏ hàng</a></td>
                                    <td><a href="/checkout" class="linktocheckout">Thanh toán</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="search-wrapp">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <div class="wrap-drop-search">
                        <div class="drop-search">
                            <form class="search" action="/search">
                                <input type="hidden" name="type" value="product" />
                                <input type="text" name="q" placeholder="Tìm kiếm..." />
                                <button id="search-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-btn click-menu-mobile hidden-md hidden-lg float-left">
                <a href="#menu-mobile" class="">
                    <span class="icon-menu"></span>
                </a>
            </div>
            <div class="hh wrapp-nav-bar">
                <nav class="nav-bar style-1 hidden-xs">
                    <ul class="site-nav  categories-right   col-md-12  col-sm-12 col-xs-12" id="main-menu">
                        <li class="nav-item site-nav-hassub dropdown navigation desknav" aria-haspopup="true">
                            <a href="/collections/all" class="site-nav-link">
                                <span>Đồ bơi nữ</span>
                                <span class="fa fa-caret-down" aria-hidden="true"></span>
                            </a>
                            <ul class="site-nav-sub">
                                <li class="active li-sub-mega">
                                    <a tabindex="-1" href="/"><span>Đồ bơi tay dài nữ</span></a>
                                </li>
                                <li class="active dropdown li-sub-mega">
                                    <a href="/">
                                        <span>Áo bơi nữ</span>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="active li-sub-mega">
                                            <a tabindex="-1" href="/"><span>Áo bơi tay dài</span></a>
                                        </li>
                                        <li class="active li-sub-mega">
                                            <a tabindex="-1" href="/"><span>Áo bơi bra top</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active dropdown li-sub-mega">
                                    <a href="/">
                                        <span>Quần bơi nữ</span>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="active li-sub-mega">
                                            <a tabindex="-1" href="/"><span>Quần bơi dài</span></a>
                                        </li>
                                        <li class="active li-sub-mega">
                                            <a tabindex="-1" href="/"><span>Quần bơi ngắn</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active li-sub-mega">
                                    <a tabindex="-1" href="/"><span>Set đồ bơi nữ</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/collections/all" class="site-nav-link">
                                <span>Đồ bơi nam</span>
                            </a>
                        </li>
                        <li>
                            <a href="/collections/all" class="site-nav-link">
                                <span>Đồ bơi cặp</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/about-us" class="site-nav-link">
                                <span>Giới thiệu</span>
                            </a>
                        </li>
                        <li>
                            <a href="/blogs/news" class="site-nav-link">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/lien-he" class="site-nav-link">
                                <span>Liên hệ</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="logo">
                <!-- LOGO -->
                <a href="https://bikini-beach.myharavan.com" class="logo-txt">
                    <img src="./images/logo.png" alt="Bikini Beach" class="img-responsive" />
                </a>
                <h1>
                    <a href="/" style="display:none">Bikini Beach</a>
                </h1>
            </div>
            <div class="header_login-mb hidden-md hidden-lg">
                <a href="/account" title="" class="awemenu-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            </div>
            <div class="cart-info-mb  hidden-md hidden-lg">
                <a class="cart-link-mb" href="/cart">
                    <i class="fa fa-shopping-cart "></i>
                    <span class="cart-number-mb">0</span>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="search-bar-top-mb hidden-md hidden-lg">
    <form action="/search">
        <input type="hidden" name="type" value="product">
        <input type="text" name="q" placeholder="Bạn muốn tìm gì...">
        <button type="submit" class="search-mb">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>
