<!-- MENU MOBILE -->
<nav id="menu-mobile" class="hidden">
    <ul id="html-menu">
        <!-- JS function getHTMLMenu -->
    </ul>
</nav>

<!-- MENU MAIN -->
<div class="topbar">
    <div class="container clearfix">
        <div class="topbar-content row">
            <div class="topbarleft col-lg-6 col-md-6 col-xs-6">
                <ul class="menu-topbar">
                    <li class="site-nav-top">
                        <strong>SĐT: </strong><a class="phone-num" href="tel:1900636099"> 1900636099</a>
                    </li>
                    <li class="site-nav-top">
                        <strong>Email: </strong>    <a class="mail-num" href="mailto:nobita.nguyen0902@gmail.com"> nobita.nguyen0902@gmail.com </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-right col-lg-6 col-md-6 col-xs-6 hidden-xs hidden-sm">
                <div class="topbar-menu">
                    <div class="topbar-menu-content">
                        <ul class="menu-topbar">
                            <li class="site-nav-top">
                                <a href="/pages/about-us" class="site-nav-top-link">
                                    <span>Giới thiệu</span>
                                </a>
                            </li>
                            <li class="site-nav-top">
                                <a href="/" class="site-nav-top-link">
                                    <span>Hướng dẫn</span>
                                </a>
                            </li>
                            <li class="site-nav-top">
                                <a href="/" class="site-nav-top-link">
                                    <span>Bảng size</span>
                                </a>
                            </li>
                            <li class="site-nav-top">
                                <a href="/" class="site-nav-top-link">
                                    <span>Đổi trả hàng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
