<!-- MENU MOBILE -->
<nav id="menu-mobile" class="hidden">
    <ul>
        <li class="has-children">
            <a href="/collections/all">Đồ bơi nữ</a>
            <ul class="child count-nav-4">
                <li><a href="/">Đồ bơi tay dài nữ</a></li>
                <li class="has-children">
                    <a href="/">Áo bơi nữ</a>
                    <ul class="child">
                        <li><a href="/">Áo bơi tay dài</a></li>
                        <li><a href="/">Áo bơi bra top</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="/">Quần bơi nữ</a>
                    <ul class="child">
                        <li><a href="/">Quần bơi dài</a></li>
                        <li><a href="/">Quần bơi ngắn</a></li>
                    </ul>
                </li>
                <li><a href="/">Set đồ bơi nữ</a></li>
            </ul>
        </li>
        <li><a href="/collections/all">Đồ bơi nam</a></li>
        <li><a href="/collections/all">Đồ bơi cặp</a></li>
        <li><a href="/pages/about-us">Giới thiệu</a></li>
        <li><a href="/blogs/news">Blog</a></li>
        <li><a href="/pages/lien-he">Liên hệ</a></li>
    </ul>
</nav>

<!-- MENU MAIN -->
<div class="topbar">
    <div class="container clearfix">
        <div class="topbar-content row">
            <div class="topbarleft col-lg-6 col-md-6 col-xs-6">
                <ul class="menu-topbar">
                    <li class="site-nav-top">
                        <strong>SĐT: </strong><a class="phone-num" href="tel:1900636099"> 1900636099</a>
                    </li>
                    <li class="site-nav-top">
                        <strong>Email: </strong>    <a class="mail-num" href="mailto:nobita.nguyen0902@gmail.com"> nobita.nguyen0902@gmail.com </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-right col-lg-6 col-md-6 col-xs-6 hidden-xs hidden-sm">
                <div class="topbar-menu">
                    <div class="topbar-menu-content">
                        <ul class="menu-topbar">
                            <li class="site-nav-top">
                                <a href="/pages/about-us" class="site-nav-top-link">
                                    <span>Giới thiệu</span>
                                </a>
                            </li>
                            <li class="site-nav-top">
                                <a href="/" class="site-nav-top-link">
                                    <span>Hướng dẫn</span>
                                </a>
                            </li>
                            <li class="site-nav-top">
                                <a href="/" class="site-nav-top-link">
                                    <span>Bảng size</span>
                                </a>
                            </li>
                            <li class="site-nav-top">
                                <a href="/" class="site-nav-top-link">
                                    <span>Đổi trả hàng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
