<footer id="footer">
    <div class="footer-info">
        <div class="container">
            <div class="footer_info_top">
                <div class="row">
                    <div class="col-md-4" id="company_info">
                        <h4 class="small-title">CÔNG TY TNHH Haravan</h4>
                        <p class="mst">Haravan.com - GPKD số 0312662961 - Cấp ngày 27.02.2014 - Sở KHĐT Tp. Hồ Chí Minh</p>
                    </div>
                    <div class="col-md-4" id="social_links">
                        <h4 class="small-title">Kết nối chúng tôi qua </h4>
                        <div>
                            <a href="#01" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#02" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#03" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#04" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4" id="hotline">
                        <h4 class="small-title">HOTLINE HỖ TRỢ</h4>
                        <div class="phone">
                            <img src="@Url.Content("~/images/icon_call.png")" alt="Icon call">
                            <a href="tel:1900603969">1900603969</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                    <!-- SUPPORT MENU -->
                    @{ Html.RenderAction("GetSupportMenu"); }
                    <!-- SERVICE MENU -->
                    @{ Html.RenderAction("GetServiceMenu"); }
                    <!-- SERVICE SUPPORT MENU -->
                    @{ Html.RenderAction("GetServiceSupportMenu"); }
                    <div class="col-md-3 col-sm-6 col-xs-12 wow animated fadeInUp">
                        <div id="newsletter_block" class="footer-block toggle-mb">
                            <h4 class="title_block toggle-mb-title" aria-expanded="false">
                                Kết nối với chúng tôi<i class="fa fa-angle-down hidden-lg hidden-md hidden-sm "></i>
                            </h4>
                            <div class="block_content toggle-mb-content">
                                <div class="footer-static-content">
                                    <!-- Facebook widget -->
                                    hihi
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-mailchimp hidden-xs">
        <div class="container">
            <div class="footer-mailchimp-wrap col-md-12 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 wow animated fadeInUp" data-wow-delay="100ms">
                        <div id="newsletter_block" class="footer-block">
                            <div class="des-new-title">
                                <svg class='ico-letter-home div-user-control control-4'>
                                    <use xlink:href='#icon-letter-home'></use>
                                </svg>
                                <h4 class="title_newsletter">
                                    Đăng kí nhận<br> bảng tin shop
                                </h4>
                            </div>
                            <div class="des_newsletter">
                                Cập nhật thông tin khuyến mãi nhanh nhất<br>                     Hưởng quyền lợi giảm giá riêng biệt
                            </div>
                            <div class="block_content">
                                <form id="mc-embedded-subscribe-form" accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
                                    <input name="form_type" type="hidden" value="customer">
                                    <input name="utf8" type="hidden" value="✓">
                                    <input type="hidden" id="contact_tags" name="contact[tags]" value="khách hàng tiềm năng,Bản tin">
                                    <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Người đăng ký">
                                    <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="">
                                    <div class="newsletter-form">
                                        <input type="email" placeholder="Nhập email của bạn.." name="contact[email]" id="mail" class="newsletter-input form-control input-lg">
                                        <button class="btn-newsletter" type="submit">
                                            <span>Gửi</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="footer-bottom-wrap clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 wow animated fadeInLeft" data-wow-delay="150ms">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 border-left wow animated fadeInUp" data-wow-delay="150ms">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right wow animated fadeInRight" data-wow-delay="150ms">
                        <div class="copyright">
                            <p>&copy; Bản quyền thuộc về <a href="http://nobita.myharavan.com" target="_blank">Nobita</a>. Cung cấp bởi <a href="http://haravan.com" target="_blank">Haravan</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>