
@using System.Text
@using ann_shop.Models
@model List<ann_shop.Models.MenuItemModel>

@functions{
    public static string GetTopMenuHTML(List<MenuItemModel> top_menu)
    {
        var html = new StringBuilder();

        foreach (var menu in top_menu)
        {
            if (menu.Child.Count == 0)
            {
                if (menu.Level == 0)
                {
                    html.AppendLine("<li class='site-nav-top'>");
                    html.AppendLine(String.Format("    <a href='{0}' class='site-nav-top-link'>", menu.URL));
                    html.AppendLine(String.Format("        <span>{0}</span>", menu.Name));
                    html.AppendLine("    </a>");
                    html.AppendLine("</li>");
                }
                else
                {
                    html.AppendLine(String.Empty);
                }
            }
            else
            {
                html.AppendLine(String.Empty);
            }
        }

        return html.ToString();
    }
}

<!-- TOP MENU MAIN -->
<div class="topbar">
    <div class="container clearfix">
        <div class="topbar-content row">
            <div class="topbarleft col-lg-6 col-md-6 col-xs-6">
                <ul class="menu-topbar">
                    <li class="site-nav-top">
                        <strong>SĐT: </strong><a class="phone-num" href="tel:1900636099"> 1900636099</a>
                    </li>
                    <li class="site-nav-top">
                        <strong>Email: </strong>    <a class="mail-num" href="mailto:nobita.nguyen0902@gmail.com"> nobita.nguyen0902@gmail.com </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-right col-lg-6 col-md-6 col-xs-6 hidden-xs hidden-sm">
                <div class="topbar-menu">
                    <div class="topbar-menu-content">
                        <ul class="menu-topbar">
                            @Html.Raw(GetTopMenuHTML(Model))
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
